.logoImage {
  width: 120px;
  height: 110px;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btnJoin,
.btnLeave {
  background: #4aed88;
  margin-left: auto;
}

.btnJoin:hover,
.btnLeave:hover {
  background: #2b824c;
}

.btnCopy,
.btnLeave {
  width: 100%;
}

.btnCopy {
  margin-bottom: 10px;
  background: #eee;
}

.btnCopy:hover {
  background: #cecece;
}

/* footer */
.footerContainer {
  text-align: center;
}

.footerContainer a {
  color: #4aee88;
}

.footerContainer a:hover {
  color: #368654;
  border-color: #368654;
}
